/*  цвет основного текста #757575 */
/*    цвет вторичного текста #212121  */
/*    фон белый #ffffff  */
/*  вторичный цвет фона #F5F4FA  */
/*    акцент #2196F3  */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primari-white-color: #fff;
  --accent-color: #2196f3;
}

body {
  background-color: var(--primari-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;  
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /*outline: 1px solid green;*/
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
/* ----------------HEADER---------------- */

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 25px;
  padding-bottom: 24px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000;
}

.logo-accent {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.nav {
  display: flex;
  margin-left: 93px;
}

.nav-item {
  margin-left: 50px;
}
.nav-item:first-child {
  margin-left: 0;
}

.nav-link {
  padding-top: 33px;
  padding-bottom: 31px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}

.nav-link:hover,
.nav-link:focus,
.current {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
  align-items: center;
}

.contacts-item {
  margin-left: 50px;
}
.contacts-item:first-child {
  margin-left: 0;
}

.contacts-link {
  padding-top: 33px;
  padding-bottom: 31px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* ----------------HERO---------------- */

.hero {
  background-color: #2f303a;
}

.hero-container {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero-btn {
  min-width: 200px;
  height: 50px;
  margin-top: 30px;
  border-radius: 4px;
  drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: #ffffff;
  background: #2196f3;

  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* ---------------PECULIARITIES--------------- */

.peculiarities>h2 {
  visibility: hidden;
}

.peculiarities {
  margin-top: 94px;
  }

.peculiarities-list {
  display: flex;
  justify-content: space-between;
}

.peculiarities-item {
  flex-basis: calc((100% - 120px) / 4);
  }

.peculiarities-title {

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.peculiarities-text {
  margin-top: 10px;
}

/*---------------WORKING--------------*/

.working {
  margin-top: 94px;
}

.working-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}

.working-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

/* --------------TEAM-------------- */

.team {
margin-top: 94px;

  background-color: #f5f4fa;
  text-align: center;
}

.team-list {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

.team-title {
  padding-top: 94px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  color: var(--title-text-color);
}

.team-item {
  flex-basis: calc(100%-120px)/4;
}

.team-list-title {
margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--title-text-color);
}

.team-list-text {
  margin-top: 10px;
  padding-bottom: 30px;

  font-size: 16px;
  line-height: 1.19;
}

/* ---------------PORTFOLIO--------------- */

.portfolio {
  margin-top: 94px;
}

.filter-list {
  display: flex;
  justify-content: center;
}

.filter-item+.filter-item {
  margin-left: 8px;
}

.filter-btn {
  height: 38px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  color: var(--title-text-color);
}

.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: -30px;
}

.projects-item {
  flex-basis: calc(100%-90px)/3;
  margin-top: 30px;
  margin-left: 30px;
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.projects-text {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.87;

  color: var(--primary-text-color);
}

/* ---------------FOOTER--------------- */

.footer {
  background-color: #2f303a;
  margin-top: 94px;
}

.footer-logo {
  padding-top: 60px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer-logo:hover,
.footer-logo:focus {
  color: var(--accent-color);
}

.footer-address {
  margin-top: 20px;
  padding-bottom: 60px;
}

.address-link {
  margin-top: 9px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.address-map {
  font-style: normal;
  color: #ffffff;
}
